#!/usr/bin/env ruby

compile '/**/*.md' do
  filter :erb unless item.identifier =~ %r{/posts/}
  filter :commonmarker
  filter :colorize_syntax, default_colorizer: :rouge
  filter :toc
  layout '/default.*'
  filter :relativize_paths, type: :html5

  if item.identifier =~ '**/index.*'
    target = item.identifier.without_ext + '.html'
  else
    target = item.identifier.without_ext + '/index.html'
  end

  if item[:draft]
    target = target.gsub!(%r{\A/posts/}, '/drafts/')
  else
    target = target.gsub(%r{\A/posts/(.+)/index.html\z}, '/\1.html')
  end

  write target
end

compile '/*.xml.erb' do
  filter :erb
  write item.identifier.without_ext
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
